html {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  min-height: 100vh;
  background-image: linear-gradient(-20deg, #025159 0%, #733b36 100%);
  color: #d8e9ef;
}

.app-container {
  width: 260px;
  margin: 60px auto;
  text-align: center;
}

.app-message {
  margin: 15px 0;
}

.app-counter-box {
  font-size: 3rem;
  margin: 30px 0;
}

.buttons button {
  background: none;
  border: none;
  color: #d8e9ef;
  margin: 0 8px;
  cursor: pointer;
  text-transform: uppercase;
}

.buttons button:hover {
  color: #90c0d1;
}
